body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    list-style-type:none;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
        color: darkcyan;
    }
}

input:focus{
    outline: none;
}

.header-three{
    margin-top: 6rem;
}

form{
    margin-top: 1rem;

    .form-group {
        margin-left: 36rem;
    }

    .button-group{
        margin-left: 1rem;
    }
}