body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: linen;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: darkcyan;
    }
}

input:focus {
    outline: none;
}

.header-three {
    margin-top: 2rem;
}

form {
    margin-top: 0.3rem;

    .form-group {
        margin-left: 3rem;
    }

    .button-group {
        margin-left: 1rem;
    }
}

.padding {
    margin-top: 4rem;
}

.banner {
    background: url(../assets/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;

    // background-size:contain - Resize the background image to make sure the image is fully visible
    background-size: contain;

    min-height: 60vh;
    min-width: 50%;

    // background-attachment:scroll - The background image will scroll with the page. This is default
    background-attachment: scroll;
}